 <style>
          body {
              background-color: #d9d0fc;
          }
 </style>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
  <li>
    <%= link_to "Browse by Style", styles_path %>
  </li>
  <li>
    <%= link_to "Browse by Ingredient", ingredients_path %>
  </li>
  <li>
    <%= link_to "View Profile", chef_path(current_user) %>
  </li>
   <li class="active">
    <%= link_to "Edit Profile", edit_chef_path(current_user) %>
  </li>
  <li>
    <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
  </li>
  <li><span class="badge"><%= link_to "Sign out", signout_path %></span></li>
</ul>
</br>
<%= render 'shared/page_title', title: "Edit your Profile" %>

<%= render 'form' %>

