
<%= render 'shared/page_title', title: @recipe.name %> 

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <%= image_tag(@recipe.chef.gravatar.url, size: "200x200", class: "gravatar", chef_path(@recipe.chef)) if chef.gravatar? %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>  
    <% if logged_in? and current_user.admin? %>
    <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: {confirm: "Are you sure you want to delete this Recipe?"} %>
    <% end %>
    

    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    <div class="well">
      <% if @recipe.styles.any? %>
      <p>Style: <%= render @recipe.styles %></p>
      <% end %>
      <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <p>

        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?"
  data-size="large">Tweet your thoughts</a>
    <p>
      <h5><b><%= @recipe.reviews.count %> Reviews on Chef <%= @recipe.chef.chefname %>'s <%= @recipe.name %></b></h5>
    </p>
   <% if @recipe.reviews.any? %>
  <div class="row">
    <div class="col-md-6 pull-left center">
      <div class="well">
        <h2></h2>
        <% @recipe.reviews.each do |c| %>
          <p align= "left">
            <b>Review:</b>
              <%=h c.description %>
          </p>
          <p align= "left">
            <b>Reviewer:</b>
            <%=h c.chef.chefname %>
          </p>
          
          <hr>
        <% end %>
      
      </div>
    </div>
  </div>
<% end %>
<% if logged_in? %>
<%= render 'shared/errors', obj: @recipe %>
    <h3>Add a Review</h3>
  <div class="row">
    <div class="col-md-6 pull-left center">
      <div class="well">
        <%= form_for([@recipe, @recipe.reviews.build]) do |f| %>
          <p>
            <%= f.label :description %><br />
            <%= f.text_area :description %>
          </p>
          <p>
            <%= f.submit "Add your review", class: "btn btn-success" %>
          </p>
      <% end %>
      </div>
    </div>
  </div>
<% end %>    


<h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>


<link rel="canonical"
  href="https://young-castle-7437.herokuapp.com/">
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>




