<em><%= render 'shared/page_title', title: "All Ingredients Listed in MyRecipes App" %></em>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
  <li>
    <%= link_to "Browse by Style", styles_path %>
  </li>
  <li>
    <%= link_to "Browse by Ingredient", ingredients_path %>
  </li>
   <li>
    <%= link_to "Edit Profile", edit_chef_path(current_user) %>
  </li>
</ul>

<%= will_paginate %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <ol class="ol_item">
      <% Ingredient.all.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    </ol>
      <% if logged_in? %>
        <div class="divider"></div>
          <p>
            <%= link_to(new_ingredient_path) do %>
                  New Ingredient
            <% end %>
          </p>
      <% end %>
  </div>
</div>
<%= will_paginate %>