<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <title></title>
  </head>
  <body>
  <div class="containter">
    <style media="screen" type="text/css">

@import "bootstrap-sprockets";
@import "bootstrap";

div {
  border-radius: 5px;
}

#header {
  z-index: 1;
  position: fixed; 
  width: 97.5%;
  margin-top: -20px;
  height: 60px;
  background-color: #668284;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 70px;
}

#name {
  float:left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

#email{
  float:right;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

h4 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}

.right p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  font-family: Garamond, serif;
  color: #000000;
}

li {
  list-style-type: square;
}

a:hover {
  font-weight: bold;
}

.left {
  position: relative;
  float: left;
  margin-top: 50px;
  width: 10%;
  height: 400px;
  background-color: #B9D7D9;
  margin-bottom: 10px;
}

.right {
  position: relative;
  float: right;
  margin-top: 50px;
  width: 88%;
  height: 400px;
  background-color: #F4EBC3;
  margin-bottom: 10px;
}

#footer {
  position: relative;
  height: 50px;
  background-color: #668284;
  clear: both;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

#footer p {
  position: relative;
  padding-top: 15px;
}

</style>

  
    <div id="header">
      <p id="name">Vanessa Baker</p>
      <a href="mailto:vbakerdev@gmail.com"><p id="email">vbakerdev@gmail.com</p></a>
    </div>

    <div class="left"></div>
    <div class="right">
      <h4>Objective</h4>
      <p>test.</p>
      <h4>App related</h4>
      <p>text</p>
      <ul>
        <li>list of features</li>
        <li>Wrote third-party JavaScript and Ruby libraries</li>
      </ul>
      <h4>More description</h4>
      <p>text</p>
      <p>text</p>
      <h4>about the team</h4>
      <p>about me</p>
      <ul>
        <li>list of work</li>
        <li>GPA: 3.8</li>
      </ul>
    </div>
    <div id="footer">
      <p>Github Account:  | Linkedin Account: </p>
    </div>
  
 </div> 
  </body>
</html>

<div class="container">
  <h1 class="center-align blue-text accent-2">About Us</h1>
  <div class="center-align">
    <div class="row">
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/github_octocat.png", width: "60%", :alt => "Github"), "") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/feature_qa.png", width: "50%", :alt => "Github"), "") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/deploy_heroku.png", width: "60%", :alt => "Github"), "") %>
      </div>
    </div>
    <div class="row ">
        <div class="col s4"><%= link_to "Github", "https://github.com/vbaker007" %></div>
        <div class="col s4"><%= link_to "Staging Environment", "" %></div>
        <div class="col s4"><%= link_to "Production Environment", "" %></div>
    </div>
  </div>
</div>

<div class="light-grey section">
  <div class="container row">
    <h5 class="center-align">
      How do we stand out?
    </h5>
    <p class="flow-text center-align">Building this app, I was able to get first-hand experience on MVC setup, polymorphic associations, development and production environment configuration, test driven development, and behavior driven development.</p>
  </div>
</div>

<div class="section">
  <div class="container row">
    <p class="flow-text center-align">This app focuses on creating a forum where chefs can share their recipes; chefs can vote on as well as write a review to endorse others' work.  Some things that we ended up including to make our app great are: <strong>Single Table Inheritance, Nested Attributes, Nested Routes, Polymorphic Associations, Google Map, 98% Rspec Coverage, and some awesome Ruby gems like: bootstrap, carrierwave, (rework this) and Puma. </strong></p>
  </div>
</div>

<section class="wrapper blue_wallpaper">
 <div class="row">
    <h4 class="center-align">
      Meet the team
      <br>
    
    </h4>
    <!-- Person left -->
    <div class="col s12 m4 responsive-img">
      <div>
      
      <h4 class="center-align"></h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("", width: "50%", :alt => "Github"), "") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("", width: "50%", :alt => "Linkedin"), "") %>
        </div>
        <p class="flow-text">
        
      </div>
    </div>
    
    <!-- Person center -->
      <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARZAAAAJDYyYzIxYjYxLWNhYjMtNDIxOC05MzIyLWM3MjQ1ODk2OTc5NQ.jpg", width: "25%", height: "5%", :alt => "Your Face", class:"rcorners4"), "https://www.linkedin.com/profile/view?id=AAIAABut4qMB3FBhzXNRq2ekC5YfbDwGPvOyp1c&trk=nav_responsive_tab_profile_pic") %>
      <h4 class="center-align">Vanessa Baker</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/gitlogo.png", width: "40%", :alt => "Github"), "https://github.com/vbaker007") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/Linkedin.ico", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
        </div>
         <p class="flow-text">Elaborate on this </p>
      </div>
    </div>

    <!-- Person right -->
       <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("", width: "90%", :alt => "Your Face", class:"rcorners6"), "") %>
      <h4 class="center-align"></h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("", width: "40%", :alt => "Github"), "") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("", width: "50%", :alt => "Linkedin"), "") %>
        </div>
       <p class="flow-text"> </p>
      </div>
    </div>
  </div>
</section>

<section class="blue_tear ">  
  <div class='container center-align'>
    <p class="flow-text">Dev Point Labs is an 11 week intensive Ruby on Rails Bootcamp in Salt Lake City. It covers a full web development stack (HTML, CSS, Javascript, Rails) as well as testing, version control, hosting, active record/SQL as well as JQuery, Ajax, and much more! </p>
  </div>
  <div class="responsive-img center-align tranparent6">
    <%= link_to(image_tag("dpl_mountain.jpg", width: "80%", :alt => "DevPointLabs"), "http://www.devpointlabs.com/") %>
  </div>
</section>

</div>
</html>
<script src="https://abs.twimg.com/errors/404-5b74379aef88b251a1bb61207fdf03a9.js"></script>