<%= render 'shared/page_title', title: "Food & Drink Styles Available in MyRecipes App" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
  <li>
    <%= link_to "Browse by Style", styles_path %>
  </li>
  <li>
    <%= link_to "Browse by Ingredient", ingredients_path %>
  </li>
</ul>
<% if logged_in? %>
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "View Profile", chef_path(current_user) %>
    </li>
    <li>
      <%= link_to "Edit Profile", edit_chef_path(current_user) %>
    </li>
    <li>
      <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
    </li>
    <li>
      <%= link_to "Sign out", signout_path %>
    </li>
  </ul>
<% end %>

<%= will_paginate %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <ol class="ol_item">
      <% Style.all.each do |style| %>
         <li><%= link_to style.name, style_path(style) %></li>
      <% end %>
    </ol> 
  </div>
</div>
<%= will_paginate %>