<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "myRecipes", root_path, class: "btn btn-lg", id: "logo" %>
    <ul class="nav_ul_item">
      <div class="dropdown">
          <%= link_to '#', class: "btn dropdown-toggle navbutton", "data-toggle" => "dropdown" do %>
              Browse by Style <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% Style.all.each do |style| %>
              <li><%= link_to style.name, style_path(style) %></li>
            <% end %>
            <% if logged_in? %>
                <li class="divider"></li>
                <li>
                  <%= link_to(new_style_path) do %>
                      New Style
                  <% end %>
                </li>
            <% end %>
          </ul>
      </div>
    </ul>
    <ul class="nav_ul_item">
      <div class="dropdown">
          <%= link_to '#', class: "btn dropdown-toggle navbutton", "data-toggle" => "dropdown" do %>
             Browse by Ingredient <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% Ingredient.all.each do |ingredient| %>
              <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to(new_ingredient_path) do %>
                      New Ingredient
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
    </ul>

    <% if logged_in? %>
      <div class="nav_item">
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-default btn-success" %>
      </div>
        
      <ul class="nav_item pull-right">
        <div class="dropdown">
          <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
            <%= current_user.chefname %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", chef_path(current_user) %></li>
            <li><%= link_to "Edit Profile", edit_chef_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </div>
      </ul>
    <% else %>
      <div class="nav_item navbutton pull-right">
        <%= link_to "Login", login_path, class: "btn navbutton" %>
      </div>
      <div class="nav_item navbutton pull-right">
        <%= link_to "Join", register_path, class: "btn navbutton" %>
      </div>
    <% end %>   
  </div>
</header>
